<%
    tname = @element.name
    t     = @element
    nombre_iface = tname[1 .. -1].gsub(/_(.)/) {|s| $1.upcase}
%>

<form method="post">
    <fieldset>
        <legend>Listado de <%= nombre_iface %></legend>
        <p><input type="button" class="boton" name="new_<%= nombre_iface %>" value="New <%= nombre_iface %>" onClick='window.location.href="form_<%= tname %>"'/>

        <p><label>Filtrar por</label> $form.W.lmc.render_filter</p>

        <table width="100%">
            <tr>
                <td>$form.lmc</td>
            </tr>
        </table>

    </fieldset>
</form>

