<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
<title>morcego</title>
</head>

<body>
    <applet codebase="/" archive="/morcego.jar" code="br.arca.morcego.Morcego" width="800" height="600">
      <param name="serverUrl" value="http://127.0.0.1:3001/morcego/api">
      <param name="getSubGraphMethod" value="getSubGraph">
      <param name="isNodePresentMethod" value="isNodePresent">
      <param name="navigationDepth" value="6">
      <param name="startNode" value="Obra-1">
      <param name="windowWidth" value="800">
      <param name="windowHeight" value="600">
      <param name="viewWidth" value="800">
      <param name="viewHeight" value="600">
      <param name="navigationDepth" value="2">
      <param name="feedAnimationInterval" value="3">
      <param name="controlWindowName" value="morcego">
      <param name="showMorcegoLogo" value="true">
      <param name="showArcaLogo" value="true">
      <param name="loadPageOnCenter" value="true">
    </applet>
</body>

</html>